body {
    background: #dfdfdffd;
}

.book-store-title {
    color: #FFA500;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.form-wrap {
    padding: 20px;
    background-color: #b4b4b4fd;
    border-radius: 10px;
    display: none;
    position: absolute;
    top: 5;
    z-index: 1;
    left: 35%;
}

.form-wrap h3 {
    color: #FFA500;
    font-weight: bold;
}

.submit-book {
    padding: 6px 40px;
    margin-top: 10px;
    font-size: 20px;
    float: right;
    background-color: #FFA500;
    color: #fff;
}

.delete-me {
    color: white;
    background: #ff0000;
    padding: 5px;
    border: 0;
    border-radius: 5px;
}

.delete-me:hover {
    color: white;
    background: #ff0000be;
    padding: 5px;
}

.submit-book:hover {
    background-color: #d59108f3;
    color: #fff;
}

footer {
    height: 100px;
    background-color: #1c1a1a;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

footer p {
    vertical-align: middle;
}

.close-button {
    background-color: #f50707;
    padding: 6px 40px;
    margin-top: 10px;
    font-size: 20px;
    float: right;
    color: #fff;
}

.close-button:hover {
    background-color: #760909;
    color: #fff;
}

.display {
    background-color: #fff;
    padding: 2.5%;
    margin-left: 2.5%;
    width: 30%;
    margin-bottom: 25px;
    border-radius: 10px;
    box-shadow: 0px 10px 6px -6px #777;
}

.display .image-div {
    height: 380px;
    width: 100%;
    margin-bottom: 40px;
    overflow: hidden;
}

.display h4 {
    font-weight: bold;
    color: #FFA500;
}

.image-div img {
    max-width: 100%;
}